html {
    background-color: grey;
}

html,body {
    margin:0;
    padding:0;
}

#canvas {
    height: 700px;
    width: 1400px;
    
}

#bing {
    display: flex;
    flex-direction: row;
}

#cont {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    
}

.towerBox {
    margin-top: 20px;
    width: 50px;
    height: 50px;
    background-color: azure;
}

